/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a simple framework built on top of it.
 * For details, visit: https://infima.dev/docs/getting-started/introduction
 */

/* You can override the default Infima variables here. */
:root {
  --ifm-color-primary: #2e8b57;
  --ifm-color-primary-dark: #25723f;
  --ifm-color-primary-darker: #1e5a33;
  --ifm-color-primary-darkest: #0f3420;
  --ifm-color-primary-light: #37a75f;
  --ifm-color-primary-lighter: #3eb265;
  --ifm-color-primary-lightest: #67d994;
}

/* For readability concerns, you should choose a lighter palette in dark mode. */
[data-theme='dark'] {
  --ifm-color-primary: #25c883;
  --ifm-color-primary-dark: #1eb872;
  --ifm-color-primary-darker: #1aa766;
  --ifm-color-primary-darkest: #0f6747;
  --ifm-color-primary-light: #2ed494;
  --ifm-color-primary-lighter: #37dfa0;
  --ifm-color-primary-lightest: #67e8b8;
}

.docTitle {
  font-size: 3rem;
  font-weight: bold;
}
